* {
  cursor: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 0;
}
*,*:before,*:after{
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}
html,body{
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 16px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}

input::-ms-clear{
  display: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

button::-moz-focus-inner{
  padding: 0;
  border: 0;
}

hr{
  border: 0;
  margin: 40px 0;
  display: block;
  background-color: #969696;

  width: 100%;
  height: 1px;
}

/*------*/

body{
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* Internet Explorer/Edge */
  user-select: none;

  /*------*/

  position: relative;
  background-color: #040404;
  font-family: 'Montserrat', sans-serif;
  color: #040404;
  overflow-x: hidden;
}

.body-scroll{
  overflow-y: hidden;
}


:root{
  --index: calc(1vw + 1vh);

  --backgroundColorDark: #040404;
  --lightBlue: #00ffd8;
  --color: #ffffff;
}

.light{
  background-color: var(--backgroundColorDark);
  color: var(--color);
}

.light .book-world__icon g{
  fill: #fff;
}

.light .prompt__text{
  background-color: var(--backgroundColorDark);
}

.light .prompt__button{
  background-color: var(--backgroundColorDark);
}

.light .writers-slide:hover .writers__book-inner{
  border: 2px solid var(--color);
  box-shadow: 0 0 10px var(--color);
  border-radius: 10px;
}

.light .writers-slide:hover .writers__book-wrapper{
  border: 2px solid var(--color);
  box-shadow: 0 0 10px var(--color);
}

.light .section__button{
  cursor: pointer;
  border: 2px solid var(--color);
  color: var(--color);
}

.light .more__text{
  color: var(--color);
}

.light .section__button:hover{
  background-color: var(--color);
  color: var(--backgroundColorDark);
}

.light *{
  cursor: auto;
}

.light::-webkit-scrollbar-thumb {
  background: var(--color);
  border-radius: 2px;
}


.container{
  width: 100%;
  max-width: 1660px;
  padding: 0 20px;
  margin: 0 auto;
}

.cursor {
  width: 350px;
  height: 350px;
  border-radius: 100%;
  filter: blur(25px);
  transition: all 200ms ease-out;
  position: fixed;
  pointer-events: none;
  background-color: #00ffd8;
  transform: translate(calc(-50% + 15px), -50%);
}

.popup-menu:hover * {
  cursor: auto;
}

.popup-menu:hover .cursor {
  display: none;
}

.under-body{
  position: relative;
  background: url('../pictures/illustration/repeat-fon.png');
}

.under-body--inactive{
  background: var(--backgroundColorDark);
}

/*Slider*/
::-webkit-scrollbar {
  width: 4px; /* ширина для вертикального скролла */
  height: auto; /* высота для горизонтального скролла */
  background-color: #040404;
}

::-webkit-scrollbar-thumb {
  background: #00ffd8;
  border-radius: 2px;
}


/*Header*/
.header{
  padding-top: 45px;
  margin-bottom: 30px;
}

.header__logo{
  position: relative;
}

.light .header__logo{
  transform: translateX(-50px);
  opacity: 0;
}

.light .header__logo.scroll-animation{
  transform: translate(0);
  opacity: 1;
  transition: all 1.1s cubic-bezier(.35,.56,0,1.14);
}

/*Section*/
.section__title{
  width: 50%;
}

.section__subject{
  font-size: calc(var(--index) * 1.5);
  font-weight: 700;
  margin-bottom: 30px;
}

.section__subtitle{
  font-size: calc(var(--index) * 1);
  font-weight: 600;
  margin-bottom: 50px;
  line-height: 1.2;
  font-weight: 500;
}

.section__button{
  position: relative;
  color: #040404;
  font-size: 14px;
  font-weight: 600;
  padding: 20px 50px;
  border: 2px solid #040404;
  transition: all .2s linear;
}

.section__button:hover{
  background-color: rgba(0, 0, 0, 0.2);
  color: #fff;
}

/*Indestructible*/
.indestructible{
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 100px;
}

.indestructible__title{
  width: 75%;
}

.indestructible__subject{
  font-size: calc(var(--index) * 2.4);
  font-weight: 900;
  margin-bottom: 55px;
  line-height: 1.2;
}

.light .indestructible__subject{
  transform: translateX(-50px);
  opacity: 0;
}

.light .indestructible__subject.scroll-animation{
  transform: translate(0);
  opacity: 1;
  transition: all 1.1s cubic-bezier(.35,.56,0,1.14);
}

.indestructible__subtitle{
  font-size: calc(var(--index) * 1.3);
  font-weight: 500;
  margin-bottom: 90px;
}

.light .indestructible__subtitle{
  transform: translateX(-50px);
  opacity: 0;
}

.light .indestructible__subtitle.scroll-animation{
  transform: translate(0);
  opacity: 1;
  transition: all 1.2s cubic-bezier(.35,.56,0,1.14);
}

.indestructible__button{
  font-size: calc(var(--index) * 0.85);
  font-weight: 500;
}

.light .indestructible__button{
  opacity: 0;
}

.light .indestructible__button.scroll-animation{
  opacity: 1;
}

.indestructible__pictures-wrapper{
  position: relative;
  width: 40%;
  left: -3%;
}

.sphere__pictures{
  width: 100%;
}

.light .sphere__pictures{
  transform: translateX(50px);
  opacity: 0;
}

.light .sphere__pictures.scroll-animation{
  transform: translate(0);
  opacity: 1;
  transition: all 1.2s cubic-bezier(.35,.56,0,1.14);
}

/*Statistic*/
.statistic{
  position: relative;
}

.statistic__list{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.statistic__item{
  width: 33%;
  text-align: center;
}

.light .statistic__item:nth-child(1){
  transform: translateX(-50px);
  opacity: 0;
}

.light .statistic__item:nth-child(1).scroll-animation{
  transform: translate(0);
  opacity: 1;
  transition: all 1.1s cubic-bezier(.35,.56,0,1.14);
}

.light .statistic__item:nth-child(2){
  transform: translateY(-50px);
  opacity: 0;
}

.light .statistic__item:nth-child(2).scroll-animation{
  transform: translate(0);
  opacity: 1;
  transition: all 1.1s cubic-bezier(.35,.56,0,1.14);
}

.light .statistic__item:nth-child(3){
  transform: translateX(50px);
  opacity: 0;
}

.light .statistic__item:nth-child(3).scroll-animation{
  transform: translate(0);
  opacity: 1;
  transition: all 1.1s cubic-bezier(.35,.56,0,1.14);
}

.statistic__icon{
  width: 100px;
  height: 100px;
  margin-bottom: 10px;
}

.statistic__subject{
  font-size: calc(var(--index) * 1.3);
  font-weight: 700;
  margin-bottom: 18px;
}

.statistic__info{
  font-size: calc(var(--index) * 1);
  font-weight: 600;
}

/*Nature*/
.nature{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 100px;
}

.nature__title{
  padding-left: 10px;
}

.nature__title:before{
  content: "";
  position: absolute;
  width: 2px;
  height: 110%;
  background-color: #040404;
  left: -10px;
  top: 4%;
}

.light .nature__subject{
  transform: translateX(-100px);
  opacity: 0;
  transition: all 1.1s cubic-bezier(.35,.56,0,1.14);
}

.light .nature__subject.scroll-animation{
  transform: translate(0);
  opacity: 1;
  transition: all 1.1s cubic-bezier(.35,.56,0,1.14);
}

.light .nature__subtitle{
  transform: translateX(-100px);
  opacity: 0;
  transition: all 1.1s cubic-bezier(.35,.56,0,1.14);
}

.light .nature__subtitle.scroll-animation{
  transform: translate(0);
  opacity: 1;
  transition: all 1.1s cubic-bezier(.35,.56,0,1.14);
}

.light .nature__button{
  transform: translateX(-100px);
  opacity: 0;
  transition: all 1.1s cubic-bezier(.35,.56,0,1.14);
}

.light .nature__button.scroll-animation{
  transform: translate(0);
  opacity: 1;
  transition: all 1.1s cubic-bezier(.35,.56,0,1.14);
}

.light .nature__pictures{
  transform: translateX(100px);
  opacity: 0;
  transition: all 1.1s cubic-bezier(.35,.56,0,1.14);
}

.light .nature__pictures.scroll-animation{
  transform: translate(0);
  opacity: 1;
  transition: all 1.1s cubic-bezier(.35,.56,0,1.14);
}

.nature__pictures{
  width: 100%;
}

.nature__pictures-wrapper{
  width: 40%;
}

.related__pictures-wrapper .more{
  left: 70%;
  bottom: -8%;
}

@keyframes eyes{
  0%{
    filter: blur(5px);
    opacity: 0.5;
  }50%{
    filter: blur(10px);
    opacity: 1;
  }100%{
    filter: blur(5px);
    opacity: 0.5;
  }
}

/**/
.related{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 100px;
}

.related__pictures{
  width: 100%;
}

.related__pictures-wrapper{
  width: 40%;
}

.related__title{
  padding-left: 10px;
}

.related__title:before{
  content: "";
  position: absolute;
  width: 2px;
  height: 110%;
  background-color: #040404;
  left: -10px;
  top: 4%;
}

.light .related__subject{
  transform: translateX(100px);
  opacity: 0;
  transition: all 1.1s cubic-bezier(.35,.56,0,1.14);
}

.light .related__subject.scroll-animation{
  transform: translate(0);
  opacity: 1;
  transition: all 1.1s cubic-bezier(.35,.56,0,1.14);
}

.light .related__subtitle{
  transform: translateX(100px);
  opacity: 0;
  transition: all 1.1s cubic-bezier(.35,.56,0,1.14);
}

.light .related__subtitle.scroll-animation{
  transform: translate(0);
  opacity: 1;
  transition: all 1.1s cubic-bezier(.35,.56,0,1.14);
}

.light .related__button{
  opacity: 0;
  transition: all 1.1s cubic-bezier(.35,.56,0,1.14);
}

.light .related__button.scroll-animation{
  opacity: 1;
  transition: all 1.1s cubic-bezier(.35,.56,0,1.14);
}

.light .related__pictures{
  opacity: 0;
  transform: translateX(-100px);
  transition: all 1.1s cubic-bezier(.35,.56,0,1.14);
}

.light .related__pictures.scroll-animation{
  opacity: 1;
  transform: translateX(0);
  transition: all 1.1s cubic-bezier(.35,.56,0,1.14);
}

/*Influence*/
.influence{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 100px;
}

.influence__pictures{
  width: 80%;
}

.influence__pictures-wrapper{
  width: 40%;
}

.light .influence__subject{
  transform: translateX(-100px);
  opacity: 0;
  transition: all 1.1s cubic-bezier(.35,.56,0,1.14);
}

.light .influence__subject.scroll-animation{
  transform: translate(0);
  opacity: 1;
  transition: all 1.1s cubic-bezier(.35,.56,0,1.14);
}

.light .influence__subtitle{
  transform: translateX(-100px);
  opacity: 0;
  transition: all 1.2s cubic-bezier(.35,.56,0,1.14);
}

.light .influence__subtitle.scroll-animation{
  transform: translate(0);
  opacity: 1;
  transition: all 1.2s cubic-bezier(.35,.56,0,1.14);
}

.light .influence__button{
  opacity: 0;
  transition: all 1.2s cubic-bezier(.35,.56,0,1.14);
}

.light .influence__button.scroll-animation{
  opacity: 1;
  transition: all 1.2s cubic-bezier(.35,.56,0,1.14);
}

.light .influence__pictures{
  transform: translateX(100px);
  opacity: 0;
  transition: all 1.1s cubic-bezier(.35,.56,0,1.14);
}

.light .influence__pictures.scroll-animation{
  transform: translate(0);
  opacity: 1;
  transition: all 1.1s cubic-bezier(.35,.56,0,1.14);
}

.more__text{
  color: #040404;
  font-size: calc(var(--index) * 0.85);
  font-weight: 700;
  margin-left: 8px;
}

.writers__swiper-wrapper{
  padding: 10px;
}

.writers__title{
  width: 60%;
  margin: 0 auto 65px auto;
}

.writers__subject{
  text-align: center;
}

.writers-slide{
  width: 25%;
  transition: all 1s linear;
}

.writers-slide:hover .writers__book-wrapper{
  border: 2px solid transparent;
  transition: all .2s linear;
  border-radius: 10px;
  box-shadow: 0 0 5px #00ffd8;
}

.writers-slide:hover .writers__book-inner{
  border: 2px solid transparent;
  transition: all .2s linear;
  border-radius: 5px;
  box-shadow: 0 0 10px #00ffd8;
}

.book__icon{
  position: relative;
  width: 70px;
}

.book__subject{
  text-align: center;
}

.light .book__subject{
  transform: translateY(-100px);
  opacity: 0;
  transition: all 1.1s cubic-bezier(.35,.56,0,1.14);
}

.light .book__subject.scroll-animation{
  transform: translate(0);
  opacity: 1;
  transition: all 1.1s cubic-bezier(.35,.56,0,1.14);
}

.writers__icon{
  text-align: center;
  margin-bottom: 35px;
}

.book-world__icon{
  position: absolute;
  width: 35px;
  text-align: center;
  top: -27%;
  left: 45.4%;
  right: 46%;

  animation-name: worldShake;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

@keyframes worldShake{
  0%{
    transform: translateY(0px);
  }50%{
    transform: translateY(5px);
  }100%{
    transform: translateY(0px);
  }
}

.writers__name{
  font-size: calc(var(--index) * 1.2);
  font-weight: 600;
  margin-top: 10px;
}

/*writers__book-wrapper*/
.writers__book-wrapper{
  border: 2px solid #040404;
  padding: 10px;
}

.writers__book-inner{
  border: 2px solid #040404;
  padding: 40px 0 40px 0;
  text-align: center;
}

.book__name{
  text-align: center;
  font-size: calc(var(--index) * 1);
  font-weight: 600;
  margin-bottom: 31px;
}

.book__about{
  position: relative;
  width: 85%;
  font-size: calc(var(--index) * 0.85);
  font-weight: 600;
  line-height: 1.2;
  margin: 0 auto 60px auto;
}

.book__about:after{
  content: '';
  position: absolute;
  left: 50%;
  right: 50%;
  bottom: -30px;
  transform: translate(-50%, -50%);
  width: 180px;
  height: 2px;
  background-color: #040404;
}

.book__additional{
  font-size: calc(var(--index) * 0.75);
  font-weight: 500;
  width: 85%;
  line-height: 1.2;
  margin: 0 auto 90px auto;
}

/*Prompt*/
.prompt{
  position: relative;
  z-index: 10;
  top: 400px;
  
  transform: translateX(-100%);
  opacity: 0;
  transition: all 1.3s cubic-bezier(.34,.39,0,1.35);
}

.writers.prompt-class .prompt{
  transform: translateX(0%);
  opacity: 1;
}

.prompt__text{
  display: inline-block;
  padding: 18px 14px;
  color: #fff;
  border: 1px solid #fff;
  border-radius: 4px;
  margin-bottom: 10px;
  font-weight: 900;
  letter-spacing: 2px;
  font-size: calc(var(--index) * 0.65);
  text-transform: uppercase;
  background-color: rgba(0, 0, 0, 0.2);
  transition: all .2s linear;
}

.prompt__button-wrapper{
  display: block;
}

.prompt__button{
  display: inline-block;
  padding: 20px 20px 13px 20px;
  border: 1px solid #fff;
  border-radius: 4px;

  transition: all .2s linear;
}

.prompt__button--active{
  background-color: rgba(255, 255, 255, 0.02);
  transform: scale(0.95);
}

.prompt__right-button{
  margin-left: 10px;
}

.prompt__right-button .prompt__icon{
  transform: rotate(180deg);
}






/*Popup-Menu*/
.popup-menu{
  position: fixed;
  z-index: 700;

  left: 0%;
  right: 0%;
  top: 0%;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
  backdrop-filter: blur(3px);
  margin: 0 auto;
  visibility: hidden;
}

.popup-menu--active{
  visibility: visible;
}

.popup-menu__inner {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 10%;
  width: 80vw;
  height: 80vh;
  padding: 40px;
  margin: 0 auto;
}

/*.popup-menu__inner {
  --borderWidth: 2px;
  background: #0C0C0C;
  position: relative;
  border-radius: var(--borderWidth);
}

.popup-menu__inner:after {
  content: '';
  position: absolute;
  top: calc(-1 * var(--borderWidth));
  left: calc(-1 * var(--borderWidth));
  height: calc(100% + var(--borderWidth) * 2);
  width: calc(100% + var(--borderWidth) * 2);
  background: linear-gradient(60deg, rgb(0 255 216), rgb(80 255 228), blue, rgb(172 255 242), rgb(205 255 247));
  border-radius: calc(2 * var(--borderWidth));
  z-index: -1;
  animation: animatedgradient 3s ease alternate infinite;
  background-size: 300% 300%;
}*/

/*@keyframes animatedgradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
*/
.close__menu-button{
  position: absolute;
  right: 7%;
  top: 7%;
  display: inline-block;
  padding: 15px;
  border: 1px solid #fff;
  color: #fff;
  font-weight: 500;
  transform: translateX(200%) translateY(-100px);
  opacity: 0;

  border-radius: 4px;
  transition: all 1s cubic-bezier(.18,.21,0,1.18);
}

.popup-menu--active .close__menu-button{
  transform: translate(0%);
  opacity: 1;
}


.close__menu-button:hover{
  background-color: rgba(255, 255, 255, 0.02);
  transform: scale(0.95);
}

.close__menu-button-active{
  background-color: rgba(255, 255, 255, 0.02);
  transform: scale(0.95);
}

.menu__ceil-wrapper{
  width: 100%;
  display: grid;
  grid-gap: 20px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.ceil__text{
  color: #fff;
  font-size: calc(var(--index) * 0.75);
  font-weight: 900;
  line-height: 1.2;
  text-transform: uppercase;
}

/*Color*/
.menu__text-white{
  color: #fff;
}

.menu__text-turquoise{
  color: #00ffd8;
}

.menu__text-green{
  color: #24FF00;
}

.menu__text-violet{
  color: #BD00FF;
}

.menu__text-main__color{
  color: #000;
  font-size: calc(var(--index) * 0.75);
}

.prompt__ceil .ceil__text:nth-child(1){
  margin-bottom: 10px;
}

.menu__ceil{
  color: #fff;
  padding: 30px;
  background-color: #1C1C1C;
  border-radius: 4px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  transition: all 0.15s linear;
}

.menu__ceil:hover{
  background-color: #181818;
  transform: scale(1.03);
}

.menu__ceil:hover * {
  cursor: pointer;
}

.empty__ceil .ceil__text{
  color: #302F2F;
}

.empty__ceil:hover{
  background-color: #1C1C1C;
  transform: scale(1.0);
}

.empty__ceil:hover * {
  cursor: auto;
}

.color__ceil-1{
  transform: translateX(-200%);
  opacity: 0;
  transition: all .9s cubic-bezier(.18,.21,0,1.18);
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 1;
}

.popup-menu--active .color__ceil-1{
  transform: translate(0%);
  opacity: 1;
}

.color__ceil-2{
  transform: translateY(-200%) translateY(-100%);
  opacity: 0;
  transition: all 1s cubic-bezier(.18,.21,0,1.18);

  grid-column-start: 2;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 1;
}

.popup-menu--active .color__ceil-2{
  transform: translate(0%);
  opacity: 1;
}

.color__ceil-3{
  transform: translateY(-200%) translateX(50%);
  opacity: 0;
  transition: all 1.1s cubic-bezier(.18,.21,0,1.18);

  grid-column-start: 3;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 1;
}

.popup-menu--active .color__ceil-3{
  transform: translate(0%);
  opacity: 1;
}

.color__ceil-4{
  transform: translateX(200%) translateY(-100px);
  opacity: 0;
  transition: all 1.2s cubic-bezier(.18,.21,0,1.18);

  grid-column-start: 4;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 1;
}

.popup-menu--active .color__ceil-4{
  transform: translate(0%);
  opacity: 1;
}

.hints__ceil{
  transform: translateX(-200%) translateY(20%);
  opacity: 0;
  transition: all 1.2s cubic-bezier(.18,.21,0,1.18);

  grid-column-start: 1;
  grid-column-end: 1;
  grid-row-start: 2;
  grid-row-end: 2;
}

.popup-menu--active .hints__ceil{
  transform: translate(0%);
  opacity: 1;
}

.empty__ceil-1{
  transform: translateX(-200%);
  opacity: 0;
  transition: all .9s cubic-bezier(.18,.21,0,1.18);

  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 4;
}

.popup-menu--active .empty__ceil-1{
  transform: translate(0%);
  opacity: 1;
}

.music__ceil{
  transform: translateX(200%) translateY(-20px);
  opacity: 0;
  transition: all 1.1s cubic-bezier(.18,.21,0,1.18);

  grid-column-start: 4;
  grid-column-end: 5;
  grid-row-start: 2;
  grid-row-end: 4;
}

.popup-menu--active .music__ceil{
  transform: translate(0%);
  opacity: 1;
}

.volume__music{
  position: relative;
  transform: rotate(90deg);
  right: -50%;
  bottom: 10%;
}

.flashlight__ceil{
  transform: translateX(-200%) translateY(100%);
  opacity: 0;
  transition: all 1s cubic-bezier(.18,.21,0,1.18);

  grid-column-start: 1;
  grid-column-end: 1;
  grid-row-start: 3;
  grid-row-end: 3;
}

.popup-menu--active .flashlight__ceil{
  transform: translate(0%);
  opacity: 1;
}

.flashlight__ceil .ceil__text{
  margin-bottom: 10px;
}

/* The flashlight__switch - the box around the flashlight__slider */
.flashlight__switch {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  width: 3.8em;
  height: 3.8em;
}

.torch {
  margin-top: 12px;
  margin-left: 1px;
  width: 30px;
  height: 30px;
  transform: rotate(-45deg);
}

.flashlight__slider .b {
  position: relative;
  top: -3.3em;
  transform: rotate(270deg);
}

.flashlight__slider .bling_85 {
  stroke: #fff;
  stroke-width: 2.5;
  stroke-linecap: round;
  stroke-dasharray: 3;
  stroke-dashoffset: 15;
  transition: all 0.3s ease;
}

/* Hide default HTML checkbox */
.flashlight__switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The flashlight__slider */
.flashlight__slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transition: .4s;
  border-radius: 50%;
  background-color: rgba(116, 115, 115, 0.2);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.chk_85:checked + .flashlight__slider {
  animation: tap 0.3s linear forwards;
}

.chk_85:checked + .flashlight__slider .bling_85 {
  animation: particles 0.3s linear forwards;
  animation-delay: 0.2s;
}

.chk_85:checked + .flashlight__slider {
  background-color: #FFA133;
}

.chk_85:focus + .flashlight__slider {
  box-shadow: 0 0 1px #FFA133;
}

@keyframes particles {
  50% {
    stroke-dasharray: 3;
    stroke-dashoffset: 12;
  }

  100% {
    stroke-dasharray: 3;
    stroke-dashoffset: 9;
  }
}

@keyframes tap {
  50% {
    scale: 0.9;
  }

  100% {
    scale: 1;
  }
}

.prompt__ceil{
  transform: translateX(-200%) translateY(50%);
  opacity: 0;
  transition: all .9s cubic-bezier(.18,.21,0,1.18);

  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 4;
  grid-row-end: 5;
}

.popup-menu--active .prompt__ceil{
  transform: translate(0%);
  opacity: 1;
}


.empty__ceil-3{
  transform: translateY(200%);
  opacity: 0;
  transition: all .9s cubic-bezier(.18,.21,0,1.18);

  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 4;
  grid-row-end: 5;
}

.popup-menu--active .empty__ceil-3{
  transform: translate(0%);
  opacity: 1;
}

.error__ceil{
  transform: translateX(200%);
  opacity: 0;
  transition: all .9s cubic-bezier(.18,.21,0,1.18);

  grid-column-start: 4;
  grid-column-end: 4;
  grid-row-start: 5;
  grid-row-end: 4;
}


.popup-menu--active .error__ceil{
  transform: translate(0%);
  opacity: 1;
}

.social__list{
  position: absolute;
  display: flex;
  padding: 30px 30px;
  margin-left: -70px;
  opacity: 0;
  transform: translateY(30px);
  transition: all .8s cubic-bezier(.07,.01,.4,1.89);
}

.error__ceil:hover .social__list{
  opacity: 1;
  transform: translateY(80px);
}

.social__item{
  padding: 10px;
  margin-left: -70px;
  background-color: #1C1C1C;
  margin-left: 10px;
  border-radius: 4px;
}

.social__icon{
  width: 16px;
  height: 16px;
}

.music__ceil .ceil__text{
  margin-bottom: 10px;
}

input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 2px;
  cursor: pointer;
  box-shadow: 0px 0px 0px #000000;
  background: #fff;
  border-radius: 2px;
  border: 1px solid #FFFFFF;
}

input[type=range]::-webkit-slider-thumb {
  height: 16px;
  width: 16px;
  border-radius: 16px;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -8px;
}

.soundButton{
  position: fixed;
  bottom: 5vh;
  right: 5vw;
  width: 24px;
  transition: .2s ease;
  z-index: 10;
}




/* The music__switch - the box around the music__slider */
.music__switch {
  position: relative;
  display: inline-block;
  transform: rotate(90deg);
  width: 100px;
  height: 50px;
}

/* Hide default HTML checkbox */
.music__switch .chk1 {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The music__slider */
.music__slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #fff;
  transition: .4s;
  border-radius: 5px;
}

.music__slider:before {
  position: absolute;
  content: "Off";
  text-align: center;
  padding-top: 12px;
  height: 40px;
  width: 40px;
  border-radius: 2.5px;
  left: 5px;
  bottom: 5px;
  background-color: #ccc;
  transition: 0.4s;
  transform: rotate(-90deg);
}

.music__slider:after {
  position: absolute;
  content: "On";
  text-align: center;
  padding-top: 12px;
  height: 40px;
  width: 40px;
  border-radius: 2.5px;
  left: 55px;
  bottom: 5px;
  background-color: #fff;
  transition: 0.4s;
  transform: rotate(-90deg);
}

.chk1:checked + .music__slider:before {
  background-color: #fff;
}

.chk1:checked + .music__slider:after {
  background-color: rgb(0, 182, 45);
}